@page
@model OnlineCatalog.Pages.Grades.IndexModel

@{
    ViewData["Title"] = "Note";
}

<h1>Lista Note</h1>

<p>
    <a class="btn btn-primary" role="button" asp-page="Create">Adauga nota noua</a>
</p>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Grade[0].GradeValue)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Grade[0].Student)
            </th>
            <th scope="col">
                Actiuni
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Grade)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.GradeID" class="btn btn-warning btn-sm" role="button">Editare</a>
                    <a asp-page="./Details" asp-route-id="@item.GradeID" class="btn btn-primary btn-sm" role="button">Vizualizare</a>
                    <a asp-page="./Delete" asp-route-id="@item.GradeID" class="btn btn-danger btn-sm" role="button">Stergere</a>
                </td>
            </tr>
        }
    </tbody>
</table>